<footer class="footer">
    <div class="footer-content">
      <div class="logo">
        <img src="../../assets/images/logoczarne.png" alt="Logo" style="width: 200px; height: 200px;">
      </div>
      <div class="social-media">
        <p>Znajdź nas na:</p>
        <a href="#"><img src="facebook.png" alt="Facebook"></a>
        <a href="#"><img src="twitter.png" alt="Twitter"></a>
        <a href="#"><img src="instagram.png" alt="Instagram"></a>
      </div>
      <div class="contact">
        <p>Kontakt:</p>
        <p>505 461 021</p>
        <p>szkudlarska@op.pl</p>
        <p>Adres:</p>
        <p>Przeskok 15, 27-200 Starachowice</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy;2023 Bajeczne Wypieki - Wszelkie prawa zastrzeżone.</p>
      <p>Realizacja: Damian Kaniewski, Dominika Rola.</p>
    </div>
  </footer>
  