<nav class="navbar">
    <div class="navbar-item empty"></div>

    <div class="logo" >
      <img src="../../assets/images/logoczarne.png" routerLink="/" alt="Logo" >
    </div>

    <div class="navbar-item empty"></div>
    <div class="navbar-item empty"></div>
    <div class="navbar-item empty"></div>
    <div class="navbar-item empty"></div>

    <a routerLink="/" class="navbar-item" [ngClass]="{'active': router.url === '/'}">Strona główna</a>
    <a routerLink="/cakes" class="navbar-item" [ngClass]="{'active': router.url === '/cakes'}">Torty</a>
    <a routerLink="/sweets" class="navbar-item" [ngClass]="{'active': router.url === '/sweets'}">Słodkości</a>
    <a routerLink="/flavors" class="navbar-item" [ngClass]="{'active': router.url === '/flavors'}">Smaki</a>
    <a routerLink="/about" class="navbar-item" [ngClass]="{'active': router.url === '/about'}">O mnie</a>
    <a routerLink="/contact" class="navbar-item" [ngClass]="{'active': router.url === '/contact'}">Kontakt</a>

    <div class="navbar-item empty"></div>
    <div class="navbar-item empty"></div>
    <div class="navbar-item empty"></div>
    <div class="navbar-item empty"></div>
  </nav>
  