/* Resetowanie marginesów i paddingów dla całej strony */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Styl dla całego nav bara */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    font-size: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styl dla logo */
.logo img {
    width: 100px;
    height: auto;
}

/* Styl dla poszczególnych elementów nawigacyjnych */
.navbar-item {
    text-decoration: none;
    color: black;
    margin: 0 5px;
    padding: 10px;
    border-bottom: 3px solid transparent;
    transition: border-color 0.3s;
}

/* Efekt podświetlenia przy najechaniu */
.navbar-item:hover {
    border-color: lightgrey;
}

/* Styl dla aktywnego elementu nawigacyjnego */
.navbar-item.active {
    border-color: black;
}

/* Styl dla odnośników na środku */
.navbar-item:nth-child(n+2) {
    margin-left: auto;
    margin-right: auto;
}

/* Styl dla aktywnego odnośnika na środku */
.navbar-item.active {
    font-weight: bold;
}

/* Styl dla pustych elementów */
.navbar-item.empty {
    visibility: hidden;
    width: 10px;
}
