<nav class="navbar">
    <div class="logo">
        <img src="../../assets/images/logobiale.png" alt="Logo" style="width: 200px; height: 200px;">
    </div>
    <a routerLink="/" class="navbar-item">Strona główna</a>
    <a routerLink="/cakes" class="navbar-item">Torty</a>
    <a routerLink="/sweets" class="navbar-item">Słodkości</a>
    <a routerLink="/flavors" class="navbar-item">Smaki</a>
    <a routerLink="/about" class="navbar-item">O mnie</a>
    <a routerLink="/contact" class="navbar-item">Kontakt</a>
  </nav>