<div class="main-container">
    <div class="gradient"></div>
    <div class="main-photo-container">
        <img src="assets/images/contact/mainPhotoContact.jpg" alt="main-photo" class="main-photo">
    </div>
    <div class="contact-overlay">
        <div class="social-media-links">
            <p>Znajdź mnie na social mediach</p>
            <div class="logos">
                <a href="https://www.facebook.com/profile.php?id=100063505481504" target="_blank">
                    <img src="assets/logo/facebookLogo.png" alt="facebook">
                </a>
                <a href="https://www.instagram.com/bajecznewypieki/" target="_blank">
                    <img src="assets/logo/instagramLogo.png" alt="instagram">
                </a>
            </div>
        </div>
        <div class="contact-information">
            <div class="telefon">
                <p>Telefon</p>
                <h1>505 461 021</h1>
            </div>
            <hr>
            <div class="adres">
                <p>Adres</p>
                <h1>ul. Przeskok 15<br>Starachowice<br><br>Godziny otwarcia: <b>8:00 - 20:00</b></h1>
                <div class="map-button">
                    <a href="https://maps.app.goo.gl/kpvAwAe5saLfxibs6" target="_blank">
                        <h1><b>Zobacz na mapie</b></h1>
                    </a>     
                </div>

            </div>
            <hr>
            <div class="mail">
                <p>Mail</p>
                <h1>szkudlarska@op.pl</h1>
            </div>
            
            
            
        </div>
    </div>

</div>
