<div class="images-row">
    <div id="first" class="animated-image">
      <ng-container *ngFor="let imagePath of imagePaths['first']; let i = index">
        <img [src]="imagePath" alt="image1_{{i + 1}}" [ngClass]="{'active': i === currentImageIndex}">
      </ng-container>
      <div class="gradient-white"></div>
      <p>Torty Ślubne</p>
    </div>
    <div id="second" class="animated-image">
      <ng-container *ngFor="let imagePath of imagePaths['second']; let i = index">
        <img [src]="imagePath" alt="image2_{{i + 1}}" [ngClass]="{'active': i === currentImageIndex}">
      </ng-container>
      <div class="gradient-white"></div>
      <p>Torty dla Dzieci</p>
    </div>
    <div id="third" class="animated-image">
      <ng-container *ngFor="let imagePath of imagePaths['third']; let i = index">
        <img [src]="imagePath" alt="image3_{{i + 1}}" [ngClass]="{'active': i === currentImageIndex}">
      </ng-container>
      <div class="gradient-white"></div>
      <p>Torty na Chrzest</p>
    </div>
    <div id="forth" class="animated-image">
      <ng-container *ngFor="let imagePath of imagePaths['forth']; let i = index">
        <img [src]="imagePath" alt="image4_{{i + 1}}" [ngClass]="{'active': i === currentImageIndex}">
      </ng-container>
      <div class="gradient-white"></div>
      <p>Torty 3D</p>
    </div>
  </div>