.app-container {
    margin-top: 100px;
}

#scrollToTopBtn {
    display: flex;
    position: fixed;
    width: 60px;
    height: auto;
    bottom: 10px;
    right: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 10px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
}

#scrollToTopBtn.active {
    opacity: 1;
}
