@import url('https://fonts.googleapis.com/css2?family=Voltaire&display=swap');
body {
    font-family: 'Voltaire', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

a {
    text-decoration: none;
    color: black;
}