<div class="main-container">
    <div class="image-container">
        <img src="assets/images/home/mainPhotoHome.jpg" alt="main-photo" class="main-photo">
        <div class="centered-container">
            <img src="assets/images/logo/logoWhite.png" alt="logo" class="main-logo">
            <h1>Wyśmienitym smakiem i niespotykanym wyglądem moje torty zachwycają od 2014 roku</h1>
            <p>Bajeczne Wypieki to pracownia tortów artystycznych, w której rodzą się wyjątkowe smakołyki. Tworzę torty o niepowtarzalnym designie, łącząc kreatywność z doskonałym smakiem. Moje dzieła to nie tylko torty, to też magia wypieków, która zachwyci każde podniebienie i oczy, tworząc niezapomniane chwile na każdą okazję. <br>Serdecznie zapraszam!</p>
        </div>
    </div>
    <div class="description-container">      
        <h1>Moje Prace</h1>
        <div class="images-row">
            <div id="first" class="clickable-image" (click)="changeImage('first')">
              <img [src]="getImagePath('first')" alt="image1">
              <div class="gradient-white"></div>
              <p>Torty Ślubne</p>
            </div>
            <div id="second" class="clickable-image" (click)="changeImage('second')">
              <img [src]="getImagePath('second')" alt="image2">
              <div class="gradient-white"></div>
              <p>Torty Urodzinowe</p>
            </div>
            <div id="third" class="clickable-image" (click)="changeImage('third')">
              <img [src]="getImagePath('third')" alt="image3">
              <div class="gradient-white"></div>
              <p>Torty Okazjonalne</p>
            </div>
            <div id="forth" class="clickable-image" (click)="changeImage('forth')">
              <img [src]="getImagePath('forth')" alt="image4">
              <div class="gradient-white"></div>
              <p>Słodkości</p>
            </div>
          </div>
          
          
    </div>
</div>
