<div class="home">
    <div class="image-container">
        <img src="../../assets/images/testcake.jpg" routerLink="/" alt="Logo" class="fadeInImage" [ngClass]="{'loaded': componentLoaded}">
    </div>
    <div class="description-container">
        <div class="description">
            Witam Cię w mojej pracowni tortów artystycznych - <br><strong>Bajeczne Wypieki!</strong><br><br>Już od wielu lat tworzę niepowtarzalne dzieła cukiernicze, łącząc wyjątkowy smak z artystyczną formą.<br><br>Moja pasja i zaangażowanie pozwalają na kreowanie tortów, które przynoszą radość i zachwycają zarówno podniebienie, jak i wzrok.
        </div>    
        <div class="signature">
            <br>Pozdrawiam
        </div>
        <div class="name">
            Anna Szkudlarska
        </div>
    </div>
    
</div>
