.main-container {
    margin-top: 100px;
    text-align: center;
}

.image-container {
    position: relative;
}

.main-photo {
    width: 100%;
    opacity: 0;
    filter: blur(0px) brightness(0.5);
    transition: opacity 3s, filter 5s;
}

.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    width: 100%;
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 2s;
}

.main-logo{
    width: 25%;
    padding: 2%;
    filter: drop-shadow(5px 5px 3px #222);
    transform: scale(1);
    transition: transform 3s;
}
.main-logo:hover{
    transform: scale(1.05);
}

.centered-container h1 {
    font-size: 1.7vw;
    filter: drop-shadow(5px 5px 3px #222);
}

.centered-container p {
    width: 65%;
    font-size: 1vw;
    font-weight: 100;
    filter: drop-shadow(3px 3px 3px #222);
}


.description-container h1 {
    font-size: 3vw;
    margin: 30px 0 0 0;
    filter: drop-shadow(5px 5px 3px #222);
}

.images-row{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: 90vh;
}

#first, #second, #third, #forth{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;
    max-height: calc(100vh-100px);
}

#first:hover, #second:hover, #third:hover, #forth:hover{
    cursor: pointer;
}

#first:hover img, #second:hover img, #third:hover img, #forth:hover img{
    transform: scale(1.05);
}

.images-row p {
    position: absolute;
    top: 0px;
    font-size: 2.5vw;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
}

.images-row img{
    object-fit: contain;
    transform: scale(1.0);
    transition: transform 2s, filter 0.1s;
    opacity: 1;
}

.gradient-white {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 10%, rgba(255, 255, 255, 0) 90%);
 }

 .fade-invisible {
    filter:brightness(0.5) grayscale(1)!important;
 }

  

