<div class="main-container">
    <div class="image-container">
        <img src="assets/images/home/mainPhotoHome.jpg" alt="main-photo" class="main-photo">
        <div class="centered-container">
            <img src="assets/images/logo/logoWhite.png" alt="logo" class="main-logo">
            <h1>Wyśmienitym smakiem i niespotykanym wyglądem moje torty zachwycają od 2014 roku</h1>
            <p><b>Bajeczne Wypieki</b> to pracownia tortów artystycznych, w której rodzą się wyjątkowe smakołyki. Tworzę torty o niepowtarzalnym designie, łącząc kreatywność z doskonałym smakiem. Moje dzieła to nie tylko torty, to też magia wypieków, która zachwyci każde podniebienie i oczy, tworząc niezapomniane chwile na każdą okazję. <br><b>Serdecznie zapraszam!</b></p>
        </div>
    </div>
    <div class="description-container">      
        <h1>Moje Prace</h1>
        <app-portfolio></app-portfolio>
    </div>
    <div class="information-row">
      <div class="questions">
        <p class="questions-p">Najczęściej zadawane pytania</p>
        <app-faq></app-faq>
        <h1>Masz więcej pytań? Skontaktuj się ze mną. Chętnie na wszystkie odpowiem!</h1>
      </div>
      <div class="facebook-link">
        <p>Strona na Facebook'u</p>
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fprofile.php%3Fid%3D100063505481504&tabs=timeline&width=500&height=600&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width=500 height="600" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
</div>
